#root dir
.idea/
microservice_shop/.idea
microservice_storage/.idea

# Django #
*.log
*.pot
*.pyc
microservice_shop/__pycache__
microservice_shop/db.sqlite3
microservice_shop/media
microservice_storage/__pycache__
microservice_storage/db.sqlite3
microservice_storage/media

# Backup files #
*.bak

# File-based project format
*.iws

# Python #
*.py[cod]
*$py.class


# Unit test / coverage reports - TBD

# pyenv
.python-version

# celery
celery.py
celerybeat-schedule.*

# Environments
microservice_shop/.venv_shop/
microservice_storage/.venv_storage/

# Sublime Text #
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project